.UserDetail-Top {
	text-align: center;
	margin: auto;
	align-items: center;
	margin-left: 70px;
}

.UserDetail-Avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: contain;
	border: 0.5px solid rgb(185, 194, 202);
	margin-left: 27px;
	margin-bottom: 10px;
	margin-top: -8px;
}

.UserDetail-Title {
	color: black;
	font-size: 17px;
}
.UserDetail-Number {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.UserDetail-FullName {
	text-align: left;
	margin-left: 35px;
}

.UserDetail-Bio {
	margin-left: 36px;
	text-align: left;
}

.btn-outline-secondary {
	/* font-weight: bold; */
	color: rgb(104, 104, 104);
}
