.UserDetail-Top {
	text-align: center;
	margin: auto;
	align-items: center;
	margin-left: 75px;
}

.UserDetail-Avatar {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: contain;
	border: 0.5px solid rgb(185, 194, 202);
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: -8px;
}
.CurrentUserDetail-Username {
	margin-left: 20px;
}

.CurrentUserDetail-Data {
	margin-left: -10px;
}

.UserDetail-Title {
	color: black;
	font-size: 17px;
}
.UserDetail-Number {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.Current-UserDetail-FullName {
	text-align: left;
	margin-left: 54px;
}

.Current-UserDetail-Bio {
	margin-left: 55px;
	text-align: left;
}

.btn-outline-secondary {
	/* font-weight: bold; */
	color: rgb(104, 104, 104);
}

.NoPosts {
	text-align: center;
}

.UserDetail-delete-toggle {
	margin-top: 5px;
}
.UserDetail-DeleteBtn {
	margin-top: 10px;
	font-size: 12px;
	position: absolute;
	z-index: 2;
	transform: translate(130px, -30px);
}
