.PostCard {
	border: 1px solid lightgray;
	width: fit-content;
	margin-bottom: 100px;
	background-color: #ffffff;
	width: 625px;
	max-width: 625px;
	margin: auto;
	border-radius: 10px;
}
.PostCard-ImageContainer {
	border-top: 1px solid rgb(245, 245, 245);
}

.PostCard-Image {
	width: 100%;
	object-fit: contain;
	border-bottom: 1px solid rgb(143, 82, 82);
}

.PostCard-Avatar {
	margin-right: 10px;
}

.PostCard-Header {
	display: flex;
	align-items: center;
	text-align: left;
	padding: 12px 12px;
	border-bottom: 1px solid lightgray;
}

.PostCard-Username {
	margin-top: 8px;
}

.PostCard-Text {
	padding: 15px;
	text-align: left;
	margin-bottom: -20px;
	margin-top: -3px;
}

.PostCard-Caption {
	font-weight: normal;
	color: black;
}

.PostCard-Date {
	margin-bottom: -5px;
	padding: 15px;
	color: rgb(142, 156, 170);
	font-size: 12px;
}
