.Footer {
	margin-top: 1rem;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 15%;
}

.Footer-Name {
	font-size: 13px;
	margin-bottom: -1px;
}

.Footer-Technologies {
	font-size: 11px;
	margin-bottom: 10px;
}

.Footer-Note {
	font-size: 9px;
	font-style: italic;
}

a {
	text-decoration: none;
	font-weight: bold;
}
