.Home {
	margin: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.Home-title {
	font-size: 45px;
}

.Home-VerifiedLogo {
	height: 25px;
	margin-top: -6px;
	margin-left: 2px;
}

.Home-ExploreBtn {
	margin-top: 5px;
	font-size: 14px;
	width: 125px;
	text-align: center;
	align-items: center;
}
